* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  /* Colors */

 /* Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral */

  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);

}

/* - Weights: 200, 400, 600 */
body {
  font-size: 15px;
  font-family: 'poppins';  
  background: var(--VeryLightGray);
}

.bold{
  font-weight: 600;
}


h2{
  font-weight: 200;
  font-size: 25px;
  color: var(--VeryDarkBlue);
}

h4{
  color: var(--VeryDarkBlue);
  font-weight: 600;
}

p{
  font-weight: 300;
  color: var(--GrayishBlue);
  padding: 15px 0;
}

main{
  padding: 20px;  
}

.title{
  text-align: center;
  margin: 20px 0;
}

.title p{
  padding: 20px;
  /* width: 40px; */
  margin: auto;
}

.container{
  max-width: 1440px;
  margin: auto;
}

.grid{
  padding: 10px;
  flex: 0 1 auto;
}

.item{
  background: #ffffff;
  margin: 25px auto;
  padding: 25px;
  height: 230px;
  box-shadow: 5px 10px 20px -10px var(--GrayishBlue);
  border-radius: 5px;
  position: relative;
}

.item:nth-child(1){
  border-top: 3px solid var(--Cyan);
}

.item:nth-child(2){
  border-top: 3px solid var(--Red);
}

.item:nth-child(3){
  border-top: 3px solid var(--Orange);
}

.item:nth-child(4){
  border-top: 3px solid var(--Blue);
}


.item p{
  font-size: 13px;
}

img{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
  text-decoration: none;
}


@media screen and (min-width: 376px){
  .grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin: auto;
    width: auto;
    padding: 10px;
  }

  .item{
    width: 300px;
  }
  .item:nth-child(1){
    border-top: 3px solid var(--Cyan);
    margin: auto;
  }
  .item:nth-child(4){
    border-top: 3px solid var(--Blue);
    margin: auto;
  }
}

@media screen and (min-width: 720px){
  .grid{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    
  }
  .item:nth-child(1){
    border-top: 3px solid var(--Cyan);
    margin: auto;
  }
  
  .item:nth-child(4){
    border-top: 3px solid var(--Blue);
    margin: auto;
  }
}